.fullBoard {
    border: 3px solid darkslateblue; /* Adjust border thickness */
    background-color: darkslateblue;
    height: 402px; /* Adjust height */
    width: 200px; /* Adjust width */
    position: relative; /* Added to make positioning of child elements relative to this */
    margin: 0 auto; /* Center the full board */
}

/* Game title styling */
.gametitle {
    position: absolute;
    top: -25px; /* Adjust the distance above the full board */
    left: 50%;
    transform: translateX(-50%);
    font-size: 17px; /* Adjust font size */
    color: black; /* Set color to black */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    white-space: nowrap; /* Prevent the title from wrapping onto multiple lines */
}

/* Pick a color text styling */
.pick-color-text {
    position: absolute;
    top: 200px; /* Adjust the distance from the top */
    left: 50%;
    transform: translateX(-50%);
    font-size: 10px; /* Adjust font size */
    color: black; /* Set color to black */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Board and pegs styling */
.board, .pegs {
    display: grid;
    height: 45%; /* Adjust height */
    width: 50%; /* Adjust width */
    margin-top: 0px;
}

/* Color board styling */
.colorBoard {
    display: grid;
    grid-template-columns: repeat(3, 33px); /* Adjust columns */
    grid-template-rows: repeat(2, 33px); /* Adjust rows */
    width: 100px; /* Adjust width */
    height: 50px; /* Adjust height */
    margin: 0 auto;
    margin-top: 5px; /* Adjust margin */
}

/* Current color styling */
.currentColor {
    width: 100px; /* Adjust width */
    height: 25px; /* Adjust height */
    margin: 0 auto;
    margin-top: 5px; /* Adjust margin */
}

/* Submit button styling */
.submit {
    width: 100px; /* Adjust width */
    height: 25px; /* Adjust height */
    margin: 0 auto;
    margin-top: 5px; /* Adjust margin */
    font-size: 24px; /* Adjust font size */
}
